<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sign Up</h1>
    <div>
        <form (submit)="reguser()">
            <label for="firstName">First Name: </label>
            <input type="string" id="FirstName" [(ngModel)]="inputUReg.firstName" minlength="5" name="firstName"><br><br>
            <label for="firstName">Last Name: </label>
            <input type="string" id="LastName" [(ngModel)]="inputUReg.lastName" minlength="5" name="lastName"><br><br>
            <label for="email">Email: </label>
            <input type="email" id="email" [(ngModel)]="inputUReg.email" name="email"><br><br>
            <label for="password">Password: </label>
            <input type="string" id="password" [(ngModel)]="inputUReg.password" minlength="5" name="password"><br><br>
            <label for="datOfBirth">Date of Birth: </label>
            <input type="date" id="dateOfBirth" [(ngModel)]="inputUReg.dateOfBirth" name="dateOfBirth"><br><br>
            <input type="submit">
        </form>
    </div>
</body>

</html>